{% extends 'base.html.twig' %}

{% block body %}
<div>
{% if not userClient.supported %}
  {{userClient.updateAction.message}} 
  {% if userClient.updateAction.link %}
    </br>
    <a href="{{userClient.updateAction.link}}">Link to update</a>
  {% endif %}
{% else %}
    {% if isWorkTime %}
      {% if app.user %}
          ok
      {% else %}
          There <b>no char</b> for unregistered users
      {% endif %}
    {% else %}
      We are closed!
    {% endif %}
{% endif %}
</div>
{% endblock %}

{% block footer %}
    <div>
      {% if char is defined %}
        One character are above
      {% endif %}
    </div>
{% endblock %}